{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <!--============= Sponsor Section Section Starts Here =============-->
    <!--============= Sponsor Section Section Ends Here =============-->


    <!--============= Re-Charge Section Starts Here =============-->
    <section class="recharge-section padding-bottom padding-top oh" id="feature">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 rtl d-none d-xl-block">
                    <img src="{% static 'images/recharge/recharge.png' %}" alt="recharge">
                </div>
                <div class="col-xl-8">
                    <div class="section-header left-style">
                        <h5 class="cate">Des applications qui ravireront votre entreprise</h5>
                        <h2 class="title">Prêt à transformer votre business?</h2>
                        <p>Dans le processus de création d'une application, la satisfaction des utilisateurs est notre priorité et l'accent est mis sur la convivialité et l'exhaustivité</p>
                    </div>
                    <div class="recharge-wrapper">
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/1.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">Productivité</h5>
                            </div>
                        </div>
                        <div class="recharge-item active">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/2.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">optimisation</h5>
                            </div>
                        </div>
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/3.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">sécurité</h5>
                            </div>
                        </div>
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/4.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">Durabilité</h5>
                            </div>
                        </div>
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/5.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">Conformité</h5>
                            </div>
                        </div>
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/6.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">Intégrations</h5>
                            </div>
                        </div>
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/7.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">Extensibilité</h5>
                            </div>
                        </div>
                        <div class="recharge-item">
                            <div class="recharge-thumb">
                                <span class="anime"></span>
                                <div class="thumb"><img src="{% static 'images/recharge/8.png' %}" alt="recharge"></div>
                            </div>
                            <div class="recharge-content">
                                <h5 class="title">Multilingue</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Re-Charge Section Ends Here =============-->


    <!--============= How Section Starts Here =============-->
    <section class="how-section padding-bottom padding-top pos-rel pb-xl-0 oh" id="how">
        <div class="bg-xl-100 bg_img" data-background="{% static 'images/bg/client-bg.jpg' %}"></div>
            <div class="top-shape d-none d-lg-block"><img src="{% static 'css/img/work-shape.png' %}" alt="css"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="client-header">
                        <div class="section-header left-style cl-white mb-olpo">
                            <h5 class="cate">Décrivez votre application</h5>
                            <h2 class="title">Voyons comment cela fonctionne</h2>
                            <p>C'est plus facile que vous ne le pensez. Suivez les étapes simples et faciles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-xl-3 col-sm-6">
                    <div class="how-item-3">
                        <div class="how-thumb">
                            <img src="{% static 'images/how/how4.png' %}" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Download</h4>
                            <p>Commencez à utiliser Invi immédiatement après l'avoir téléchargé depuis notre site Web en seulement deux clics.</p>
                            <a href="#0" class="button-3">Commencez <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="how-item-3">
                        <div class="how-thumb">
                            <img src="{% static 'images/how/how5.png' %}" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Intégrer</h4>
                            <p>Notre application s'intègre facilement à une majorité de logiciels et d'applications d'entreprise.</p>
                            <a href="#0" class="button-3 active">Commencez <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="how-item-3">
                        <div class="how-thumb">
                            <img src="{% static 'images/how/how6.png' %}" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Communiquer</h4>
                            <p>Invi prend en charge des protocoles de messagerie vous permettant de communiquer plus facilement avec vos clients.</p>
                            <a href="#0" class="button-3">Commencez <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="how-item-3">
                        <div class="how-thumb">
                            <img src="{% static 'images/how/how7.png' %}" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Résultats</h4>
                            <p>Gérez votre processus de travail et obtenez de meilleurs résultats avec
                                 un flux de travail amélioré.</p>
                            <a href="#0" class="button-3">Commencez <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= How Section Ends Here =============-->


    <!--============= Faster Section Starts Here =============-->
    <div class="faster-section padding-top oh">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="faster-content padding-bottom">
                        <div class="section-header left-style mb-olpo">
                            <h5 class="cate">Application adaptative tout-en-un pour vous</h5>
                            <h2 class="title">Le logiciel Invi
                                 est jusqu'à 2 fois plus rapide</h2>
                            <p>Invi introduit une nouvelle façon de gérer votre travail et d'obtenir de meilleurs résultats pour votre entreprise. Invi-erp vous offre une plate-forme complète et personnalisable pour briser les silos entre les services et améliorer les performances de votre entreprise.
                                 organisation.</p>
                        </div>
                        <div class="group">
                            <a href="#0" class="get-button active">Start Using for free<i class="flaticon-right"></i></a>
                            <a href="#0" class="get-button">More About Invi-erp<i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 d-none d-lg-block">
                    <img src="{% static 'images/feature/faster.png' %}" alt="feature">
                </div>
            </div>
        </div>
    </div>
    <!--============= Faster Section Ends Here =============-->


    <!--============= Pricing Section Starts Here =============-->
    <section class="pricing-section padding-top oh padding-bottom pb-md-0 bg_img pos-rel" data-background=".{% static 'images/bg/pricing-bg.jpg' %}" id="pricing">
        <div class="top-shape d-none d-md-block">
            <img src="{% static 'css/img/top-shape.png' %}" alt="css">
        </div>
        <div class="bottom-shape d-none d-md-block">
            <img src="{% static 'css/img/bottom-shape.png' %}" alt="css">
        </div>
        <div class="ball-2" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="{% static 'images/balls/1.png' %}" alt="balls">
        </div>
        <div class="ball-3" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="{% static 'images/balls/2.png' %}" alt="balls">
        </div>
        <div class="ball-4" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="{% static 'images/balls/3.png' %}" alt="balls">
        </div>
        <div class="ball-5" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30"
        data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="{% static 'images/balls/4.png' %}" alt="balls">
        </div>
        <div class="ball-6" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
        data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="{% static 'images/balls/5.png' %}" alt="balls">
        </div>
        <div class="ball-7" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60"
        data-paroller-type="foreground" data-paroller-direction="vertical">
            <img src="{% static 'images/balls/6.png' %}" alt="balls">
        </div>
        <div class="container">
            <div class="section-header pb-30 cl-white">
                <h5 class="cate">Choose a plan that's right for you</h5>
                <h2 class="title">Simple Pricing Plans</h2>
                <p>
                    Invi propose des forfaits, gratuits ou payants, qui s'adaptent à vos besoins. Abonnez-vous à un forfait adapté à la taille de votre entreprise.
                </p>
            </div>
            <div class="row justify-content-center mb-30-none">
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="pricing-item">
                        <span class="tag">basic</span>
                        <div class="pricing-thumb">
                            <img src="{% static 'images/pricing/pricing5.png' %}" alt="pricing">
                        </div>
                        <div class="pricing-content">
                            <div class="pricing-header">
                                <h2 class="title"><sup>$</sup>30.0</h2>
                                <span class="cate">Par mois</span>
                            </div>
                            <ul>
                                <li>Jours d'essai gratuit</li>
                                <li>Stockage en ligne</li>
                                <li>Mises à jour régulières</li>
                                <li>Intégration du eCommerce</li>
                                <li>Personnalisation de l'interface</li>
                                <li>Assistance 24/7</li>
                            </ul>
                            <a href="#0" class="button-3 d-block">Voir le plan <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="pricing-item">
                        <span class="tag">standard</span>
                        <div class="pricing-thumb">
                            <img src="{% static 'images/pricing/pricing6.png' %}" alt="pricing">
                        </div>
                        <div class="pricing-content">
                            <div class="pricing-header">
                                <h2 class="title"><sup>$</sup>50.0</h2>
                                <span class="cate">Par mois</span>
                            </div>
                            <ul>
                                <li>Jours d'essai gratuit</li>
                                <li>Stockage en ligne</li>
                                <li>Mises à jour régulières</li>
                                <li>Intégration du eCommerce</li>
                                <li>Personnalisation de l'interface</li>
                                <li>Assistance 24/7</li>
                            </ul>
                            <a href="#0" class="button-3 d-block active">Voir le plan <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="pricing-item">
                        <span class="tag">premium</span>
                        <div class="pricing-thumb">
                            <img src="{% static 'images/pricing/pricing7.png' %}" alt="pricing">
                        </div>
                        <div class="pricing-content">
                            <div class="pricing-header">
                                <h2 class="title"><sup>$</sup>90.0</h2>
                                <span class="cate">Par mois</span>
                            </div>
                            <ul>
                                <li>Jours d'essai gratuit</li>
                                <li>Stockage en ligne</li>
                                <li>Mises à jour régulières</li>
                                <li>Intégration du eCommerce</li>
                                <li>Personnalisation de l'interface</li>
                                <li>Assistance 24/7</li>
                            </ul>
                            <a href="#0" class="button-3 d-block">Voir le plan <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Pricing Section Ends Here =============-->


    <!--============= Safe Section Starts Here =============-->
    <div class="safe-section oh padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-xl-5 d-none d-lg-block rtl">
                    <img src="{% static 'images/feature/safe.png' %}" alt="feature">
                </div>
                <div class="col-lg-6">
                    <div class="safe-content">
                        <div class="section-header left-style mb-olpo">
                            <h5 class="cate">Garantie de remboursement de 14 jours!</h5>
                            <h2 class="title">100% sans risque</h2>
                            <p>Ne vous inquiétez pas! Vous êtes entièrement protégé par notre garantie de remboursement à 100% sans risque. Si vous n'êtes pas entièrement satisfait de l'application au cours des 14 prochains jours, annulez simplement votre commande et nous ne vous facturerons pas. Aucune question posée.</p>
                        </div>
                        <div class="group">
                            <a href="#0" class="get-button active">Commencez<i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============= Safe Section Ends Here =============-->


    <!--============= Testimonial Section Starts Here =============-->
    <section class="testimonial-feature bg_img pb-xl-0 padding-bottom" data-background="{% static 'images/bg/client-bg.jpg' %}">
        <div class="oh pos-rel padding-top">
            <div class="top-shape d-none d-lg-block">
                <img src="{% static 'css/img/client-shape.png' %}" alt="css">
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="client-header">
                            <div class="section-header left-style cl-white mb-olpo">
                                <h5 class="cate">Témoignages</h5>
                                <h2 class="title">Plus de 10.000 clients satisfaits</h2>
                                <p>Les avis quotidiens des utilisateurs du monde entier sont un moteur important de notre équipe.</p>
                            </div>
                            <a href="#0" class="button-client">Commander <i class="flaticon-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="client-slider owl-carousel owl-theme">
                            <div class="client-item">
                                <div class="client-content">
                                    <p>
                                        Un travail parfait pour commencer, le support est génial
                                    </p>
                                    <div class="rating">
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <a href="#0">
                                        <img src="{% static 'images/client/client01.png' %}" alt="client">
                                    </a>
                                </div>
                            </div>
                            <div class="client-item">
                                <div class="client-content">
                                    <p>
                                        Un travail parfait pour commencer, le support est génial
                                    </p>
                                    <div class="rating">
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <a href="#0">
                                        <img src="{% static 'images/client/client02.png' %}" alt="client">
                                    </a>
                                </div>
                            </div>
                            <div class="client-item">
                                <div class="client-content">
                                    <p>
                                        Un travail parfait pour commencer, le support est génial
                                    </p>
                                    <div class="rating">
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-star-half-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="client-thumb">
                                    <a href="#0">
                                        <img src="{% static 'images/client/client03.png' %}" alt="client">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="counter-wrapper-area-2 mt-xl-0">
                <div class="counter-wrapper-2">
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">45</span><span class="intitle">k</span></h2>
                        <span class="name">Users</span>
                    </div>
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">90</span><span class="intitle">+</span></h2>
                        <span class="name">Countries</span>
                    </div>
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">10</span><span class="intitle">+</span></h2>
                        <span class="name">Intégrations</span>
                    </div>
                    <div class="counter-item-2">
                        <h2 class="title"><span class="intitle counter">95</span><span class="intitle">%</span></h2>
                        <span class="name">Satisfaction</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Testimonial Section Ends Here =============-->


    <!--============= Cost Section Starts Here =============-->
    <section class="cost-section padding-bottom padding-top mt-120 mt-max-xl-0">
        <div class="container">
            <div class="cost-wrapper text-center">
                <div class="cost-icon">
                    <div class="icon">
                        <img src="{% static 'images/cost/cost.png' %}" alt="cost">
                    </div>
                </div>
                <div class="section-header mb-olpo">
                    <h5 class="cate">Besoin de quelque chose de différent</h5>
                    <h3 class="title">Nous pouvons créer un plan spécial juste pour répondre à vos besoins</h3>
                    <p>Nous avons créé ce calculateur de coût de plan pratique pour vous. Découvrez combien coûtera votre forfait personnalisé en moins d'une minute!</p>
                </div>
                <a href="#0" class="button-3"> Demandez le coût </a>
            </div>
        </div>
    </section>
    <!--============= Cost Section Ends Here =============-->
{% endblock %}