{% load static %}

    <section class="banner-10 bg_img pos-rel oh" data-background="{% static 'images/banner/banner-10.jpg' %}">
        <div class="bottom-shape d-lg-block d-none">
            <img src="{% static 'css/img/banner-10.png' %}" alt="css">
        </div>
        <div class="banner-10-trops d-lg-block d-none">
            <div class="trops-1"><img src="{% static 'images/banner/banner10/circle.png' %}" alt="banner10"></div>
            <div class="trops-2"><img src="{% static 'images/banner/banner10/tri1.png' %}" alt="banner10"></div>
            <div class="trops-3"><img src="{% static 'images/banner/banner10/tri2.png' %}" alt="banner10"></div>
            <div class="trops-4"><img src="{% static 'images/banner/banner10/tri3.png' %}" alt="banner10"></div>
            <div class="trops-5"><img src="{% static 'images/banner/banner10/tri4.png' %}" alt="banner10"></div>
            <div class="trops-6"><img src="{% static 'images/banner/banner10/tri5.png' %}" alt="banner10"></div>
            <div class="trops-7"><img src="{% static 'images/banner/banner10/sq.png' %}" alt="banner10"></div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="banner-content-10 cl-white">
                        <h1 class="title">Invi-erp <br/>tout est réunit</h1>
                        <p>
                            L'application simple, intuitive et puissante pour gérer votre travail.
                        </p>
                        <div class="banner-button-group">
                            <a href="#0" class="button-4">Commencez à l'utiliser gratuitement</a>
                            <a href="#0" class="button-4 active">Explorer les fonctionnalités</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-lg-block d-none">
                    <div class="banner-thumb-10">
                        <img src="{% static 'images/banner/banner10/banner10.png' %}" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </section>