{% load static %}
<header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="#">
                        <div class="h2"> Invi-erp </div>
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="#0">Accueil</a>
                    </li>
                    <li>
                        <a href="#0">Solutions</a>
                        <ul class="submenu">
                            <li>
                                <a href="#0">Solutions mobilité</a>
                                <ul class="submenu">
                                	<li><a href="#"> Mobile </a></li>
                                	<li><a href="#"> Un CRM dans le cloud <br/>- ou un CRM SAAS </a></li>
                                	<li><a href="#"> Connecteurs CRM <br/>- liste des connections cloud </a></li>
                                	<li><a href="#"> CRM responsive compatible mobile </a></li>
                                	<li><a href="#"> CRM compatible applications mobile </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#0">Solution gestion </a>
                                <ul class="submenu">
                                	<li><a href="#"> Gestion Commerciale </a></li>
                                	<li><a href="#"> Gestion Trésorerie </a></li>
                                	<li><a href="#"> Gestion RH et Paie </a></li>
                                	<li><a href="#"> Gestion Gestion Comptable </a></li>
                                    <li><a href="#"> Gestion de la production </a></li>
                                    <li><a href="#"> Gestion Hotelière </a></li>
                                    <li><a href="#"> Gestion Logistique et Transport </a></li>
                                    <li><a href="#"> Gestion de pharmacie </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#0">Solution marketing</a>
                                <ul class="submenu">
                                	<li><a href="#"> Newsletter </a></li>
                                	<li><a href="#"> SMS </a></li>
                                    <li><a href="#"> Bot </a></li>
                                    <li><a href="#"> Social </a></li>
                                    <li><a href="#"> Automatisation </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> Prix </a>
                    </li>
                    <li>
                        <a href="#0"> Aide </a>
                    </li>
                    <li>
                        <a href="#0"> À Propos </a>
                    </li>
                    <li>
                        <a href="#0"> Contact </a>
                    </li>
                    <li class="d-sm-none">
                        <a href="#0" class="m-0 header-button"> Essai gratuit </a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-right">
                    <select class="select-bar">
                        <option value="Fr">Fr</option>
                        <option value="en">En</option>
                    </select>
                    <a href="#0" class="header-button d-none d-sm-inline-block"> Essaie gratuit </a>
                </div>
            </div>
        </div>
    </header>